<div class="user-list--user">
  <div class="user-list--user-info">
    <header>
      <h2><%= app_user.first_name + ' ' + app_user.last_name %></h2>
    </header>
    <ul class="no-style inset">
      <li>Email: <%= app_user.email %></li>
      <li>Is member: <%= app_user.is_member %></li>
      <li>Is admin: <%= app_user.is_admin %></li>
    </ul>
  </div>
  <div class="user-list--user-buttons">
    <form action="/admin/remove-member" method="post">
      <button type="submit" name="id" value="<%= app_user.id %>" <%= app_user.is_member ? '' : 'disabled'%>>Remove Member</button>
    </form>
    <form action="/admin/remove-admin" method="post">
      <button type="submit" name="id" value="<%= app_user.id %>"<%= app_user.is_admin ? '' : 'disabled' %>>Remove Admin</button>
    </form>
    <form action="/admin/delete-user" method="post">
      <button type="submit" name="id" value="<%= app_user.id %>">Delete User</button>
    </form>
  </div>
</div>
