<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <main class="container">
      <h1 class="page-heading">Log In</h1>
      <form action="/log-in" method="post" class="form" onsubmit="validateLogInForm(event)" novalidate>
        <div id="email-section">
          <div class="flex space-between">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" required value="<%= locals.formData ? formData.email : '' %>" class="<%= locals?.errors?.email ? 'invalid' : '' %>">
          </div>
          <%- include('partials/form-error.ejs', {message: locals?.errors?.email ? errors.email : '' }) %>
        </div>
        <div id="password-section">
          <div class="flex space-between">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required value="<%= locals.formData ? formData.password : '' %>" class="<%= locals?.errors?.password ? 'invalid' : '' %>">
          </div>
          <%- include('partials/form-error.ejs', {message: locals?.errors?.password ? errors.password : '' }) %>
        </div>
        <div>
          <button type="submit">Log in</button>
        </div>
      </form>
      <%- include('partials/errors.ejs') %>
    </main>
    <script src="/log-in.js" defer></script>
  </body>
</html>